@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import (css) url('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css');



//
// Customize main site
//

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.widget {
    font-size: inherit;

    &-header {
        background-color: #CCCCCC;
        color: #333333;
        font-weight: 300;
        font-size: inherit;
    }
}

.btn-l {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    &.hide {
        display: none;
    }
}

.btn-s {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    &.hide {
        display: none;
    }
}

.btn-red {
    background-color: #CC0000;
    border: 1px solid #00000022;

    &, &:hover {
        color: #F5F5F5;
    }
}


#table {
    a.cell {
        position: relative;

        &.samekm {
            z-index: 1;
            background-color: #333333AA;
            color: #CCCCCC;
            box-shadow: none;
            -webkit-box-shadow: none;

            &:hover {
                background-color: #000000AA;
                color: #FFFFFF;
            }
        }
    }
}


//
// Add extension styles
//

.btn-set {
    .btn-marker:hover {
        filter: brightness(1.2);
    }
}

#buy_reset {
    font-size: 16px;
    font-weight: bold;
    width: 22px;
    height: 22px;
    display: inline-block;

    svg {
        width: 14px;
        height: 14px;
    }
}

.input() {
    background-color: #FFFFFF;
    border: 1px solid #ACACAC;
    border-radius: 2px;
    transition: all 150ms ease-in-out 0s;
    box-shadow: 0 2px 1px #0000000D inset;
    color: #222222;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 2px 8px;
    height: 28px;
    box-sizing: border-box;
}

#buy_year_month {
    .input();
    width: 150px;
}

#my-func-block {
    .btn-narrow {
        padding-left: 14px;
        padding-right: 14px;
    }

    .btn-i {
        padding: 10px;

        svg {
            width: 15px;
            height: 15px;
        }
    }
}

.estimated-prices-widget {
    margin: 30px 0;

    .widget-header {
        cursor: default;
    }
}

#estimated-prices {
    max-height: 400px;
    overflow-x: hidden;

    .list-link {
        cursor: initial;
        padding: 6px 0 3px;
    }

    .list-sep {
        padding: 0;
        border-bottom: 2px solid #e9edf1;
    }

    .dgray-11 {
        display: inline-block;
        text-align: center;
        line-height: 19px;
        width: 32px;
        margin: 0 4px;
    }

    .gray-13 {
        padding: 1px 4px 1px 8px;
        max-width: 64px;
    }

    .right {
        max-width: 120px;
    }
}

.widget .list-link .blue-13,
#coin-list table .blue-13 {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: -1px;
    white-space: nowrap;
}

#coin {
    h1 {
        color: #3B3B3B;
    }

    .pricewj {
        border: none;

        span {
            font-size: 15px;
        }
    }

    .tbl {
        td, th {
            border: none;
        }
    }

    .coin-info {
        th {
            background-color: #EDF1F3;

        }
        tr + tr {
            td {
                border-top: 1px solid #EDF1F3;
            }
            th {
                border-top: 1px solid #FFF;
            }
        }
        thead + tbody {
            border-top: 1px solid #FFF;
        }
    }

    .coin-img td.i {
        border: none;
    }

    #swap-block,
    #wish-block {
        .dgray-11 {
            width: 32px !important;
            margin: 0 4px;
        }
    }

    #swap-form,
    #wish-form {
        .btn-s {
            margin: 0 0 0 5px;
        }
    }

    #swap-form {
        .btn-ctrl {
            float: right;
            margin: 14px 3px 0;
            height: 26px;

            + .btn-ctrl {
                margin-right: 0;
            }
        }

        #swap-qty {
            margin-top: 1em;
        }
    }
}

.button-block(@button-width) {
    a {
        position: relative;

        .comments {
            position: absolute;
            width: auto;
            left: 100%;
            text-align: left;

            .ico-16 {
                display: inline-block;
                vertical-align: middle;
                background-position: -16px 0;
            }

            &:active, &:focus, &:hover {
                max-width: 100%;
                overflow: visible;
            }
        }

        &:active, &:focus, &:hover {
            .comments {
                max-width: 100%;
                overflow: visible;
            }
        }
    }

    center div.btn-set {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: fit-content;

        div {
            font-size: 11px;
            flex: 0 0 @button-width;
            height: 20px;
            line-height: 20px;
            cursor: pointer;
            padding: 1px;
            margin: 0 1px;
        }
    }

    .btn--combine,
    .btn--expand {
        margin: 8px 2px 0;

        &.hide {
            display: none;
        }
    }
}

#my-swap-block #swap-block {
    .button-block(20px);
}

#my-wish-block #wish-block {
    .button-block(28px);
}

#swap-list,
#swap-mgr {
    .swap-coin tr {
        transition: opacity .25s, background .25s;

        &.conflict {
            background: #FDD;

            &.mark {
                background: #FED;
            }
        }

        &.ignore {
            opacity: .5;

            &.conflict,
            &.mark {
                opacity: .75;
            }
        }
    }

    .action-board,
    .filter-container {
        margin: 15px 0 20px;
        height: 30px;
        width: auto;
    }

    #sort-filter {
        border-color: #3B7BEA;
        width: 150px !important;
        padding: 4px 12px 7px;

        .left {
            max-width: 140px !important;
        }
    }

    #sort-filter-dialog {
        width: 174px;
        display: none;
    }
}

#swap-mgr {
    table.offer-list {
        tr.str {
            cursor: default;
        }
    }
}

#swap-list {
    .pages {
        padding-right: 0 !important;
    }

    .filter-container {
        margin: 0 !important;
    }
}

#profile .price {
    display: inline-block;

    .total {
        float: right;
        color: #666666;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        margin-top: 4px;
        padding-top: 4px;
        border-top: 1px solid #006600;

        .cur {
            font-size: 16px;
            padding-right: 6px;
        }
    }
}

#tree {
    .tree-filter {
        .input();
        width: 100%;
        margin-bottom: 3px;
        font-size: 13px;
    }

    #catalog-tree {
        .country, .period {
            .hide {
                display: none;
            }
        }
    }
}

#coin .rnav {
    position: relative;
}

#coin-chooser-dialog {
    @width: 200px;
    @height: 36px;
    @gap: 20px;
    @columns: 3;
    @rows: 20;

    width: max-content;
    min-width: @width;
    max-width: (@width + @gap) * @columns - @gap;
    max-height: @height * @rows !important;
    column-width: @width;
    column-gap: @gap;
    right: 0;

    .list-link {
        display: inline-block;
        width: @width - 24px;
    }
}
