//noinspection CssUnknownTarget
@import (css) url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Noto+Sans+Display:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Noto+Sans+Mono:wdth,wght@62.5..100,100..900&family=Noto+Color+Emoji&display=swap');

:root {
    --base-font-family: 'Noto Sans Display', 'Noto Sans', 'Noto Sans Emoji', sans-serif;
    --base-font-size: 14px;

    --color-surface: #fff;
    --color-surface-warning: #fdd;
    --color-surface-error: #fed;
    --color-surface-info: #eee;
    --color-content-header: #333;
    --color-content-total: #666;
    --color-border-total: #060;
    --color-content-link: #37e;

    --color-input-sufrace: var(--color-surface);
    --color-input-content: #222;
    --color-input-content-disabled: #444;
    --color-input-border: #aaa;
    --color-input-border-disabled: #eee;
    --color-input-shadow: 0 2px 1px #0001 inset;

    --color-ignore-content: #ccc;
    --color-ignore-surface: #333a;
    --color-ignore-content-hover: #fff;
    --color-ignore-sufrace-hover: #000a;

    //--color-error-content: #ccc;
    --color-error-surface: #c00;
    --color-error-border: #0002;
    //--color-error-content-hover: #fff;
    --color-error-sufrace-hover: #eee;

    --color-widget-content: #333;
    --color-widget-surface: #ccc;

    --color-separate-country: #000;

    --color-loader: rgb(60 150 30);
}

//
// Customize main site
//

body {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
    //font-variant-numeric: diagonal-fractions;
    font-variant-alternates: styleset(ss01);
    font-feature-settings: "liga" 1, "clig" 1, "dlig" 1;
}

.widget {
    font-size: inherit;

    &-header {
        background-color: var(--color-widget-surface);
        color: var(--color-widget-content);
        font-weight: 300;
        font-size: inherit;
    }
}

.btn-l {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    &.hide {
        display: none;
    }
}

.btn-s {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    &.hide {
        display: none;
    }
}

.btn-red {
    background-color: var(--color-error-surface);
    border: 1px solid var(--color-error-border);

    &,
    &:hover {
        color: var(--color-error-sufrace-hover);
    }
}

#table {
    a.cell {
        position: relative;

        &.samekm {
            z-index: 1;
            background-color: var(--color-ignore-surface);
            color: var(--color-ignore-content);
            box-shadow: none;
            -webkit-box-shadow: none;

            &:hover {
                background-color: var(--color-ignore-sufrace-hover);
                color: var(--color-ignore-content-hover);
            }
        }
    }
}

//
// Add extension styles
//

.btn-set {
    .btn-marker {
        border-radius: 2px;
        transition: filter 0.5s;

        &:hover {
            filter: brightness(1.2);
        }
    }
}

#buy_reset {
    font-size: 16px;
    font-weight: bold;
    width: 22px;
    height: 22px;
    display: inline-block;

    svg {
        width: 14px;
        height: 14px;
    }
}

.input() {
    color: var(--color-input-content);
    background-color: var(--color-input-sufrace);
    border: 1px solid var(--color-input-border);
    border-radius: 2px;
    transition: all 150ms ease-in-out 0s;
    box-shadow: var(--color-input-shadow);
    display: inline-block;
    font-family: var(--base-font-family);
    padding: 2px 8px;
    height: 28px;
    box-sizing: border-box;
}

#buy_year_month {
    .input();
    width: 150px;
}

#my-func-block {
    .btn-narrow {
        padding-left: 14px;
        padding-right: 14px;
    }

    .btn-i {
        padding: 10px;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    table span[class^="marked-"] {
        border-radius: 4px;
    }
}

.widget .list-link .blue-13,
#coin-list table .blue-13 {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: -1px;
    white-space: nowrap;
}

#coin {
    h1 {
        color: var(--color-content-header);
    }

    .price-container {
        border: none;

        span {
            font-size: 15px;
        }
    }

    .tbl {
        td,
        th {
            border: none;
        }
    }

    .coin-info {
        th {
            background-color: var(--color-surface-info);
        }

        tr + tr {
            td {
                border-top: 1px solid var(--color-surface-info);
            }

            th {
                border-top: 1px solid var(--color-surface);
            }
        }

        thead + tbody {
            border-top: 1px solid var(--color-surface);
        }
    }

    .coin-img td.i {
        border: none;
    }

    #swap-block,
    #wish-block {
        .dgray-11 {
            width: 32px !important;
            margin: 0 4px;
            border-radius: 4px;
        }
    }

    #swap-form,
    #wish-form {
        .btn-s {
            margin: 0 0 0 5px;
        }
    }

    #swap-form {
        .btn-ctrl {
            float: right;
            margin: 14px 3px 0;
            height: 26px;

            + .btn-ctrl {
                margin-right: 0;
            }

            &.btn-ctrl-price {
                margin-right: 0;
                margin-top: 0;
            }
        }

        #swap-qty {
            margin-top: 1em;
        }
    }
}

.button-block(@button-width) {
    a {
        position: relative;

        .comments {
            position: absolute;
            width: auto;
            left: 100%;
            text-align: left;

            .ico-16 {
                display: inline-block;
                vertical-align: middle;
                background-position: -16px 0;
            }

            &:active,
            &:focus,
            &:hover {
                max-width: 100%;
                overflow: visible;
            }
        }

        &:active,
        &:focus,
        &:hover {
            .comments {
                max-width: 100%;
                overflow: visible;
            }
        }
    }

    center div.btn-set {
        display: flex;
        justify-content: center;
        margin: 0 auto;

        div {
            font-size: 11px;
            flex: 0 0 @button-width;
            height: 20px;
            line-height: 20px;
            cursor: pointer;
            padding: 1px;
            margin: 0 1px;
        }
    }

    .btn--combine,
    .btn--expand {
        margin: 8px 2px 0;

        &.hide {
            display: none;
        }
    }
}

#my-swap-block #swap-block {
    .button-block(20px);
}

#my-wish-block #wish-block {
    .button-block(28px);
}

#swap-list,
#swap-mgr {
    .leftCol {
        display: block;
        position: sticky;
        top: 10px;
        z-index: 200;
    }

    .swap-coin tr {
        transition: opacity 0.25s, background 0.25s;

        &.conflict {
            background: var(--color-surface-warning);

            &.mark {
                background: var(--color-surface-error);
            }
        }

        &.ignore {
            opacity: 0.5;

            &.conflict,
            &.mark {
                opacity: 0.75;
            }
        }

        th.thumbnails {
            white-space: nowrap;

            img.thumbnail {
                width: 50px;
            }
        }
    }

    #take-swap-list {
        .filter-container {
            position: sticky;
            z-index: 100;
            top: 0;
            background: var(--color-surface);
            padding: 15px 0;
            margin: 0 0 5px;
        }
    }

    .action-board,
    .filter-container {
        margin: 15px 0 20px;
        height: 30px;
        width: auto;

        div {
            //position: initial !important;
        }
    }

    .filters {
        .filter {
            + .filter {
                margin-left: 4px;
            }

            .close {
                width: 18px;
                text-align: center;
                margin-right: -8px;
            }

            .flag {
                margin-right: 4px;
            }
        }

        .filter-dialog {
            max-height: 300px;
            overflow: auto;
        }

        .filter-label {
            max-width: 140px;
        }
    }
}

.filters {
    .filter-box {
        .left + .right {
            margin-inline-start: 8px;
        }

        &.filter-box-disabled {
            color: var(--color-input-content-disabled);

            &,
            &:hover {
                border-color: var(--color-input-border-disabled);
            }
        }
    }
}

#sort-filter {
    border-color: var(--color-content-link);
    width: 100px !important;
    padding: 4px 12px;
    height: 18px;
    display: flex;

    .left {
        max-width: 140px !important;
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#table #sort-filter {
    width: 140px !important;
}

#sort-filter-dialog {
    width: 174px;
    display: none;
}

#swap-list,
#take-swap-list {
    div {
        h2,
        a {
            &.separate-country {
                font-weight: bold;
                color: var(--color-separate-country);
            }
        }
    }
}

#swap-list {
    .pages {
        padding-right: 0 !important;
    }

    .filter-container {
        margin: 0 !important;
        position: relative;

        &.right {
            .filter-dialog {
                right: 0;
            }
        }
    }

    .widerightCol {
        position: relative;

        h1 {
            + br {
                display: none;

                + a.btn-gray {
                    margin: 0 !important;
                    border: 0 !important;
                    color: var(--color-error-surface) !important;
                    font-size: 1rem !important;
                    line-height: 2 !important;
                }
            }

            ~ div {
                position: sticky;
                background: var(--color-surface);
                margin-top: 0 !important;
                padding: 1rem 0;
                z-index: 100;

                &:nth-of-type(2) {
                    top: 0;

                    + div {
                        top: 3.6rem;
                        margin-bottom: -1rem !important;
                    }
                }
            }
        }
    }
}

#swap-mgr {
    table.offer-list {
        tr.str {
            cursor: default;
        }
    }

    #smart-filter-container {
        position: sticky;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 15px 0 20px;
        background: var(--color-surface);

        #country-filter {
            width: 129px;

            &.selected {
                border-color: var(--color-content-link);
            }
        }

        .swap-coin-filter {
            input.filter {
                width: 100%;
            }
        }
    }
}

#swap-list,
#swap-mgr {
    .price-times {
        color: darkred;
        font-weight: bold;
    }

    .price-over {
        color: brown;
    }

    .price-under {
        color: green;
    }

    .price-times,
    .price-over,
    .price-under {
        &.gray-11 {
            padding-left: 6px;
        }
    }

    .price-tooltip {
        display: block;
    }

    .price-cond {
        display: block;
        border-top: 3px solid darkred;
        color: darkred;
        font-weight: bold;
    }

    .price-invalid {
        .td-price {
        }
    }

    .price-line {
        display: block;
        height: 1.1em !important;
        padding: 3px 6px;
        border-top: 1px solid #eee;

        u {
            padding-right: 2px;
            text-decoration: none;
        }

        s {
            display: inline-block;
            max-width: 65px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            white-space: nowrap;
            vertical-align: text-bottom;
        }
    }

    .price-double {
        height: 2.4em !important;

        .lgray-11 {
            clear: both;
            text-align: end;
        }
    }

    .price-triple {
        height: 3.5em !important;
    }
}

#profile .price {
    display: inline-block;

    .total {
        float: right;
        color: var(--color-content-total);
        font-size: 20px;
        font-family: var(--base-font-family);
        font-weight: normal;
        margin-top: 4px;
        padding-top: 4px;
        border-top: 1px solid var(--color-border-total);

        .cur {
            font-size: 16px;
            padding-right: 6px;
        }
    }
}

#tree {
    .tree-filter {
        .input();
        width: 100%;
        margin-bottom: 3px;
        font-size: 13px;
    }

    #catalog-tree {
        .country,
        .period {
            .hide {
                display: none;
            }
        }
    }
}

#coin .rnav {
    position: relative;
}

#coin-chooser-dialog {
    --width: 204px;
    --height: 32px;
    --gap: 16px;
    --columns: 3;
    --rows: 20;

    display: grid;
    grid: auto-flow var(--height) / repeat(2, var(--width));
    gap: calc(var(--gap) / 2) var(--gap);
    width: max-content;
    min-width: var(--width);
    max-width: calc((var(--width) + var(--gap)) * var(--columns) - var(--gap));
    max-height: calc(var(--height) * var(--rows)) !important;

    .list-link {
        width: calc(var(--width) - 24px);
        border-bottom: none;
    }
}

.filter-dialog {
    .list-link {
        display: flex;

        .left {
            flex: 1;
            text-align: start;

            &.flag {
                flex: 0 1 auto;
            }
        }

        .right {
            display: flex;
            align-items: center;
        }
    }
}

body, #gallery {
    .country-list,
    .catalog-list {
        a {
            border: none;
        }
    }
}

ul.regions {
    margin-block-start: 2em;
    padding-inline-start: 0.5em;

    li.region {
        display: block;

        &.hide {
            display: none;
        }

        /*&.active > h2 {
            display: none;
        }*/

        h2 {
            font-size: 1.6em;
            font-weight: 600;

            .lgray-13 {
                padding-inline-start: 1em;
            }
        }

        li.region {
            h2 {
                font-size: 1.4em;
                font-weight: 500;
            }

            li.region {
                h2 {
                    font-size: 1.2em;
                    font-weight: 400;
                }

                li.region {
                    h2 {
                        font-size: 1.1em;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    + ul.regions > li.region {
        margin-block-start: 3em;
    }
}

ul.hor-switcher {
    .close {
        padding: 0 4px;
    }
}

.filter-container {
    label {
        margin-top: 3px;
    }
}

@keyframes display_delay {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@property --angle {
    syntax: "<angle>"; /* this can be angle or percentage */
    initial-value: 0deg;
    inherits: false;
}

@property --opacity {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

@keyframes loader {
    0% {
        --angle: 360deg;
        --opacity: 0%;
    }
    25% {
        --opacity: 50%;
    }
    75% {
        --opacity: 50%;
    }
    100% {
        --angle: 0deg;
        --opacity: 0%;
    }
}

#display-delay {
    position: fixed;
    inset-block-end: 50px;
    inset-inline-start: 30px;
    width: 50px;
    height: 50px;

    > div {
        position: absolute;
        inset: 0;
        border-radius: 50%;
        opacity: var(--opacity);
        background: conic-gradient(var(--color-loader) var(--angle), transparent 0);
        animation-name: loader;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
}

.list-link {
    border-bottom: none;

    &.with-separator {
        position: relative;
        margin-block-start: 12px;

        &:before, &::before {
            content: "";
            display: block;
            position: absolute;
            inset: -10px 0 auto;
            border-block-start: 2px double var(--color-input-border-disabled);
        }
    }
}

table.my-func-info {
    tr {
        border-bottom: none;
    }
}
